$white :#ffffff;
$gray-100:#f1f7ed;
$gray-200:#eff1f3;
$gray-500:#707070;
$gray-700:#4f4f4f;
$gray-800:#333333;
$gray-900:#0f0a0a;

$green-300:#70ae6e;
$green-500:#466e45;

$red-400:#fe5f55;

$blue-100:#c8e6d2;