@import '../styles/colors';
.check{
label{
  display: flex;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"]{
    display: none;

    &+span{
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid $gray-500;
        border-radius: 4px;
        color: transparent;

        transition: 0,2s;
    }
    &:checked+span{
      background-color:$green-300;
      border-color: $green-300;
      color: $white;
    }
  }
}
} 